<section id="menu">
  <div class="logo">
    <img src="{{url_for('static', filename='images/1.png')}}" alt="" />
    <h2>
      <style>
        .head-a{
          text-decoration: None;
          color: lightblue;
        }
      </style>
      <a href="{{url_for('home')}}" class="head-a"> NIMBUS AURORA </a>
    </h2>
  </div>
  <div class="items">
    <li>
      <span class="list"><ion-icon name="list-outline"></ion-icon></span>
      <a href="{{url_for('agent', agentID = agentID)}}">DASHBOARD</a>
    </li>
    <li>
      <span class="list"><ion-icon name="home"></ion-icon></span>
      <a href="{{url_for('agentProperties', agentID = agentID)}}">PROPERTIES</a>
    </li>
    <li>
      <span class="list"><ion-icon name="person"></ion-icon></span>
      <a href="{{url_for('agentCustomers', agentID = agentID)}}">CUSTOMERS</a>
    </li>
  </div>
</section>
