<div class="sidebar">
  <div class="sidebar-header">
    <h3 class="brand">
      <span class="ti-unlink"></span>
      <span>Nimbus Aurora</span>
    </h3>
    <label for="sidebar-toggle" class="ti-menu-alt"></label>
  </div>

  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="{{url_for('admin')}}">
          <span class="ti-home"></span>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="{{url_for('agents')}}">
          <span class="ti-folder"></span>
          <span>Agents</span>
        </a>
      </li>
      <li>
        <a href="{{url_for('adminSettings')}}">
          <link rel="stylesheet" href="settings-style.css" />
          <span class="ti-settings"></span>
          <span>Account</span>
        </a>
      </li>
    </ul>
  </div>
</div>
